body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.loader{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  opacity: .5;
  background-color: #634131;
  text-align: center;
}

.peers{
  display: flex!important;
  flex-direction: row;
  height: 200px;
  margin: 10px;
  padding: 10px;
}

.children{
  display: flex!important;
  flex-direction: row;
  height: 200px;
  margin: 10px;
  padding: 10px;
}

.parents{
  display: flex!important;
  flex-direction: row;
  height: 200px;
  margin: 10px;
  padding: 10px;
}



.family{
  left:30vw;
  height: 100vh;
  width: 50vw; 
}

.family-container{
  display: table;
}

.family-header{
  display: inline;
  text-align: center; 
  font-size: 16px;
}


.underliner{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 10px;
  background-color: darkblue;
  color:white;
}


i{
  margin: 2px;
}

i:hover{
  cursor: pointer;
}

.posts{
  display: table-cell;
}

