extends layout

block content
  h1= title
  form(onsubmit="submituserform()",action="/users/create",method="post",name="userform")
    div
      label Username
      input(type="text",name="userName")
    div
      label Password
      input(type="password",name="password")
    div
      label Name
      input(type="text",name="name")
    div
      label Name
      input(type="text",name="lastName")
    div
      label Date of birth
      input(type="date",name="dateofBirth")
    div
      label Type
      input(type="text",value="self",name="type")
    div
      button(onclick="submitForm()") Submit
