[type="member"]{
    width: 100px;
    height: 100px;
    margin: 10 10 10 10;
    padding: 10px;
    border: 1px solid rgba(122, 77, 226, 0.74);
    border-radius: 20%;
    font-size: 12px;
  }
  
  [type="member"]:hover{
    border: 3px solid rgba(89, 26, 236, 0.74);
  }

  .member:hover{
    cursor: pointer;
  }   

.peeks{
    margin: 3px;
    padding: 3px;
  }