.container {
    display: inline-block;
}

@media screen and (min-width:800px){
    .container{
        float:left;
    }
    .container > *{
        display: inline-block;
        margin: 10px;
    }
}